[flake8]

exclude =
    .git,
    __pycache__,
    build,
    dist,
    migrations,
    dox

max-complexity = 20
max-line-length = 100
# based on https://www.python.org/dev/peps/pep-0008/#maximum-line-length
max-doc-length = 72

ignore = E203,W503
# E203 needed for black, see https://github.com/psf/black/issues/315
# W503 goes against PEP 8 (https://www.flake8rules.com/rules/W503.html)
